/* HEADER ANIMATION */

.headeranimations {
  position: absolute;
  top: 7rem;
  margin-left: 50px;

  &__cloud {
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: $white;
    z-index: 1;
  }

  &__cloud::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 25px;
    background-color: $white;
    width: 70px;
    height: 90px;
    border-radius: 50%;
  }

  &__cloud::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 20px;
    background-color: $white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__sun {
    position: absolute;
    top: -75px;
    left: 5px;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background: $sun-yellow;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 8, 0.5);
    animation: rotate 20s linear infinite;
  }

  &__sun li {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 3px;
    background: $sun-yellow;
  }

  &__sun li:nth-child(1) {
    @include sunbeam(0deg);
  }

  &__sun li:nth-child(2) {
    @include sunbeam(90deg);
  }
  &__sun li:nth-child(3) {
    @include sunbeam(45deg);
  }
  &__sun li:nth-child(4) {
    @include sunbeam(-45deg);
  }
  &__sun li:nth-child(5) {
    @include sunbeam(22.5deg);
  }
  &__sun li:nth-child(6) {
    @include sunbeam(-22.5deg);
  }
  &__sun li:nth-child(7) {
    @include sunbeam(67.5deg);
  }
  &__sun li:nth-child(8) {
    @include sunbeam(-67.5deg);
  }
}

/* CHARACTER ANIMATION */

.animation-button {
  padding: 0.46em 1.6em;
  border: 0.1em solid $white;
  border-radius: 0.12em;
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  color: $white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #055e68;
  align-self: center;
}

.animation-button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: $white;
}

.animation-button:active {
  transform: scale(0.95);
}

.character-animation {
  animation: fall 3s linear both;
  position: relative;
  z-index: 2;
  margin-left: 30px;
}

/* FOOTER ANIMATION */

.mario-animation {
  width: 100%;

  &__road {
    background-color: $road-grey;
    width: 100%;
    height: 150px;
    border-top: 10px solid $road-grey;
    border-radius: 10px solid $road-grey;
    overflow-x: hidden;

    &--lines {
      border: 4px dashed $white;
      width: 100%;
      position: relative;
      top: 40%;
    }
    &--img {
      animation: drive 4s linear infinite both;
      position: relative;
      left: 0px;
    }
  }
}
