@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fall {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(350px);
  }
}

@keyframes drive {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(1800px);
  }
}
